input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px !important;
}
  button {color: white;
    
    padding: 15 px 20px;
    margin: 10px;
    border: 10 px;
    cursor: pointer;
    width: 20%;
    opacity: 0.8 !important;
  }
  
  button:hover {
    opacity:1 !important;
  }
 